
.MainContainerAbout{
    display:grid;
    grid-template-columns:1fr 2fr 2fr;
    padding-left:100px;
}

.projects h2{
    padding-left: 6px;
    font-family: 'BPG Nino Mtavruli', sans-serif;
}
.projects p{
    font-size:136px;
    color:grey;
    position:absolute;
    opacity:0.1;
    margin-left:-4.5%;
    margin-top:-5.5%;
    font-family: 'BPG Nino Mtavruli', sans-serif;
}
.About{
    width: 78%;
}
.About p{
    color:#808080;
    font-size:12px;
}
.SearchByCategory{
    background-color: #fff;
    border-color: purple;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
   color:purple;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
    margin-top: 5%;
}
.OnGoingProjects{
    background-color: #ffffff;
    border-color: red;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    /* background: #B9DFFF; */
   color:red;
    /* border: 1px solid #eee; */
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    font-size:12px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:20%;
    margin-top: 5%;
    margin-left:5%;
}
.TwoButton{
    display: flex;
    justify-content: flex-end;
    padding-right:90px;
}
.TwoButton button{
    font-family: 'BPG Nino Mtavruli', sans-serif;
}
.Nodes{
    position: absolute;
    padding-left: 67%;
    margin-top: -3%;

}