.MainContainerHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Buttons{
    padding: 30px;
    height: 30%;
    display:flex;
    justify-content: flex-end;

}
.Buttons button{
    background-color: #fff;
    border-radius: 100px;
    border: 0;
    margin-left: 20px;
}
.Buttons img{
    height: 20px;
    width: 20px;

}

.SelectLanguage:hover{
    background-color: #0000ff;
    color:#fff;
}

.MyProfile{
    font-family: 'BPG Nino Mtavruli', sans-serif;
    color:#fff;
}
.NodesImage{
    position: absolute;
    padding-left: 4%;
    padding-top: 4%;
}