.MainContainerHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Buttons{
    padding: 30px;
    height: 30%;
    display:flex;
    justify-content: flex-end;
    margin-right: 10%;

}
.SelectLanguage{
    background-color:#fff;
    border: 0;
    border-radius: 50%;
    width: 7%;
    height: 100%;
    margin-left: 8px;
}
.SelectLanguage:hover{
    background-color: #0000ff;
} 
.MyProfile{
    background-color: #921892;
    border: 0;
    margin-left: 20px;
    border-radius: 14%;
    /* border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%; */
    border-radius:20px;
    width: 24%;
    height: 100%;
} 
.Search{
    height: 50%;
    padding-left: 3%;
    padding-right: 3%;
    display: inline-block;
}
.BurgerMenuContainer{
    background-color: #f36f3f;
    border-radius: 50%;
    margin-right:-17%;
    height: 100%;
    width: 5%;
    width: 4%;
    height: 7%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 3%;
    right:20%;
}
.BurgerMenu{
    height:30%;
}

