.OnePerson{
    background-color: #fff;
    box-shadow: 7px 15px 15px -3px rgba(10, 22, 70, 0.1), 0 0 1px rgba(10, 22, 70, 0.06);
}
.OnePerson img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
    display: inline-block;
}
.OnePerson h5{
    display: inline-block;
}
.OnePerson p{
    font-size: 12px;
    padding-left: 15px;
    padding-right:10px;

}
.OnePerson h3{
    font-size: 15px;
    font-family: 'BPG Nino Mtavruli', sans-serif;
    padding-left: 15px;
    padding-right:10px;
}
.OnePerson button{
    border: 0;
    border-radius:20px;
    width: 55%;
    margin-left: 15px;
    height: 13%;
    color: #fff;

}